torch==1.1.0
flair==0.4.2
nltk==3.4.4
pandas==0.25.0
python-dotenv==0.10.3
langdetect==1.0.7
requests==2.21.0
Flask==1.0.3
flask-restplus==0.11.0
flask-cors==3.0.7
newsapi-python==0.2.5
beautifulsoup4==4.8.1
readability-lxml==0.7.1
pymysql==0.9.3